body {
    margin: 0; 
    background-color: #eaf3f3;
}

/* game area */

.wrapper {
    width: 600px;
    margin: 0 auto;
}

#area {
    background-color: #fff;
    margin-bottom: 2px;
}

.rider,
.trees {
    width: 90px;
}

.row {   
    display: flex;
}

.column {
    width: 100px;
    height: 100px;    
}

/* controls */

.controls__wrap {
    text-align: center;
    background-color: #fafafa;
    display: none;
}

.controls {
    background-color: #fff;
    padding: 5px;
    border: 1px solid #cecbcb;
}

.controls:active {
    transform: scale(0.95);
}

.controls__up, .controls__down {
    width: 140px;
    border-radius: 30px 30px 0 0;
}

.controls__down {
    border-radius: 0 0 30px 30px;
}

.controls__secondary-wrap {
    font-size: 0;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}

.controls__left, .controls__right {
    width: 70px;
    margin: 0;
    font-size: 14px;
} 

@media screen and (max-width:992px) {
    .controls__wrap {
        display: block;
    }
}

@media screen and (max-width:460px) {
    .controls__wrap {
        position: fixed;
        bottom: 5px;
        left: 5px;
        opacity: .7;
        background: none;
    }
}